.info-course {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    margin-top: 2rem;
}
.info-course-title {
    margin-bottom: 1.2rem;
}
.info-course-title > h3 {
    font-size: var(--font_title);
    color: #000000;
}
.info-course-description p {
    color: #323232;
}

.all-courses-container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    margin-top: 50px;
}
.all-courses-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (min-width: 1280px) {
    .info-course {
        padding: 0rem 15rem 0rem 0rem;
    }
}