@import "../modules/tabs.css";
/* Header */
.header-content {
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }
  .header-info-title {
    margin-bottom: 1.2rem;
  }
  .header-info-description {
    margin-bottom: 1.2rem;
  }
  .header-info-description > p {
    color: #323232;
    font-size: 0.9rem;
  }
  .header-info-title > h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
  }
  .header-info-buttons {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
  }
  .header-info-buttons > a {
    margin-bottom: 1.2rem;
  }
  .header-info-buttons > a:last-child {
    margin-bottom: 0px;
  }
  .button-header {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin-bottom: 1.2rem;
  }
  .button-header > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
  }
  .button-header:last-child {
    margin-bottom: 0px !important;
  }
  .btn-primary {
    background-color: #ff1e56;
    color: #fff;
  }
  .btn-outline {
    position: relative;
    color: #000;
  }
  .btn-outline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0%;
    right: 0%;
    width: 0%;
    height: 3px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #ff1e56;
    transition: ease-in-out 0.7s;
  }
  .btn-outline:hover::after {
    width: 30%;
    transition: ease-in-out 0.5s;
  }
  .btn-outline:hover {
    color: #ff1e56;
  }
  @media screen and (min-width: 640px) {
    .btn-outline:hover::after {
      width: 20%;
    }
  }
  @media screen and (min-width: 1024px) {
    .header-content {
      width: 90%;
      height: max-content;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
    }
    .header-content-info {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-flow: column nowrap;
      width: 500px;
    }
    .header-container-reviews {
      height: 450px !important;
    }
    .header-info-buttons {
      flex-flow: row nowrap;
      gap: 1.2rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .header-container-reviews {
      height: 500px !important;
    }
  }
  
  
  /* SLIDER */
  /* Mobile Header */
  .container-reviews-mobile {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0rem;
  }
  .slider-clients-reviews {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #000000a0;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000047;
  }
  .slider-clients-reviews:last-child {
    display: flex;
  }
  .slider-clients-body {
    padding: 0.5rem 1.1rem;
  }
  .slider-clients-title {
    margin-bottom: 1rem;
  }
  .slider-clients-title > h3 {
    color: #fff;
  }
  .slider-clients-description > p {
    font-size: 0.8rem;
    color: #fff;
    text-align: justify;
    margin-bottom: 0.6rem;
  }
  .slider-clients-starts > i {
    color: yellow;
  }
  @media screen and (min-width: 640px) {
    .container-reviews-mobile {
      height: 300px;
    }
    .slider-clients-reviews {
      margin-bottom: 20px;
    }
  }
  /* Desktop Header */
  .header-container-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: ease-in-out 1s;
  }
  .container-reviews-desktop {
    width: 98%;
    height: 98%;
    border-radius: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .header-content-reviews {
    width: 100%;
    height: 100%;
  }
  .reviews-slider {
    display: none;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  .item-slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: #fff;
    background-image: url(../../images/bg-slider.jpg);
    background-position: center;
    background-size: cover;
  }
  .item-card {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem 1.2rem;
  }
  .card-title {
    margin-bottom: 1.5rem;
  }
  /* Arrow style */
  .arrow {
    width: max-content;
    height: max-content;
    margin-top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  .arrow-left {
    display: flex;
    align-items: center;
    left: 0;
  }
  .arrow-right {
    display: flex;
    align-items: center;
    right: 0;
  }
  .item-slider > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) {
    .header-container-reviews {
      display: flex;
      width: 500px;
      height: 500px;
      margin: 0 auto;
      margin-top: 40px;
      border-radius: 100%;
      border: 5px solid #ff1e56;
      transition: ease-in-out 1s;
    }
    .container-reviews-mobile {
      display: none;
    }
    .container-reviews-desktop {
      width: 98%;
      height: 98%;
      display: flex;
    }
    .arrow {
      width: 50px;
      height: 50px;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
      border-radius: 50% !important;
      transition: ease-in-out 1s;
      font-weight: 900 !important;
    }
    .arrow:hover {
      background-color: #ff1e56;
      transition: ease-in-out 1s;
      color: #fff;
      transform: translateX(-10px);
    }
    .arrow:last-child:hover {
      transform: translateX(10px);
    }
    .arrow-left {
      left: -20px !important;
    }
    .arrow-right {
      right: -20px !important;
    }
  }
  
  
  /* STYLE MAIN CONTAINER */
  .main-content {
    width: 100%;
    height: max-content;
  }
  
  /* Content Collaboration */
  
  .collaboration-container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .collaboration-container-flex {
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .collaboration-title {
    margin-bottom: 1.4rem;
  }
  .collaboration-items {
    width: 100%;
    height: max-content;
  }
  .collaboration-items > img {
    width: 100%;
    height: max-content;
    object-fit: cover;
  }
  @media screen and (min-width: 640px) {
    .collaboration-container-flex {
      min-height: max-content !important;
      flex-flow: row nowrap;
      align-items: center;
      gap: 5rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .collaboration-container-flex {
      gap: 10rem;
    }
  }
  @media screen and (min-width: 1440px) {
    .collaboration-container-flex {
      gap: 20rem;
    }
    .collaboration-title {
      margin-bottom: 0.4rem;
    }
  }
  /* Ventajas */
  .advantage-container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 1.3rem 0rem;
  }
  .advantage-container-flex-mobile {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
    margin-top: 1.5rem;
  }
  .advantage-item {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: rgba(0, 0, 0, 0.709);
    background-image: url(../../images/metologia.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    position: relative;
  }
  .advantage-item .advantage-body {
    transition: ease-in-out .5s;
    opacity: 0;
  }
  .advantage-item:hover .advantage-body {
    bottom: 0%;
    transition: ease-in-out 1s;
    opacity: 1;
  }
  .advantage-item-title,
  .advantage-item-description {
    margin-bottom: 0.7rem;
  }
  .advantage-item-title > h3 {
    color: #fff;
    font-size: 2rem;
  }
  .advantage-item-description > p {
    font-size: 0.7rem;
    text-align: justify;
    color: #fff;
  }
  .advantage-item-button > a {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    width: max-content;
    height: max-content;
  }
  .advantage-item-button > a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
  }
  .advantage-container-flex-desktop {
    width: 100%;
    height: max-content;
    display: none;
    margin: 0 auto;
    background: #000;
    margin-top: 1.5rem;
  }
  .advantage-item-desktop {
    width: calc(100% / 3.5);
    height: 650px;
    background-color: rgba(0, 0, 0, 0.616);
    background-image: url(../../images/metologia_2.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
    overflow: hidden;
  }
  .advantage-item-desktop:nth-child(1) {
    background-image: url(../../images/metologia.jpg);
  }
  .advantage-item-desktop:nth-child(2) {
    background-image: url(../../images/bg-city.jpg);
  }
  .advantage-item-desktop:nth-child(3) {
    background-image: url(../../images/bg-slider.jpg);
  }
  .advantage-item-desktop:nth-child(4) {
    background-image: url(../../images/metologia_2.jpg);
  }
  .advantage-item-desktop:hover {
    width: 50%;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.233);
  }
  .container-more-details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 2s;
  }
  .container-more-details.disable {
    opacity: 0;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 2s;
  }
  .container-more-details.hidden {
    display: none;
  }
  .icon-view-more-details {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ff1e56;
    cursor: pointer;
  }
  .icon-view-more-details > i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .title-item-desktop {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
  }
  .more-details-item {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    z-index: 99999999999999999999;
    color: #fff;
  }
  .more-details-item.disable {
    width: 100%;
    height: 100%;
    display: none;
  }
  @media screen and (min-width: 375px) {
    .advantage-item-description > p {
      line-height: 20px;
      font-size: 0.85rem;
    }
    .advantage-item-button > a {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 640px) {
    .advantage-container-flex-mobile {
      flex-flow: row wrap;
      gap: 1rem;
      justify-content: space-between;
    }
    .advantage-item {
      width: calc(100% / 2 - 0.5rem);
      padding: 1.2rem 0.7rem;
    }
    .advantage-item-title,
    .advantage-item-description {
      margin-bottom: 1.1rem;
    }
    .advantage-item-button > a {
      font-size: 0.8rem;
    }
  }
  @media screen and (min-width: 768px) {
    .advantage-item-button > a {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .advantage-container-flex-mobile {
      display: none;
    }
    .advantage-container-flex-desktop {
      display: flex;
    }
  }
  
  /* Sorteo */
  .sorteo-container {
    width: 100%;
    height: max-content;
    padding: 1rem 0rem;
    background-color: rgba(47, 47, 47, 0.884);
    background-image: url(../../images/bg-city.jpg);
    background-blend-mode: overlay;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    margin: 5rem 0rem;
  }
  .sorteo-content {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .sorteo-title,
  .sorteo-description {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
  }
  .sorteo-title > h3 {
    font-size: var(--font_title);
  }
  .sorteo-form {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
  .sorteo-input,
  .sorteo-button-submit {
    width: 100%;
  }
  .sorteo-input {
    height: 50px;
  }
  .sorteo-button-submit {
    height: 40px;
  }
  .sorteo-input > input,
  .sorteo-button-submit > button {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
  .sorteo-input > input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.223);
    color: #fff;
    font-weight: bold;
  }
  .sorteo-button-submit > button {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ff1e56;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 1s;
  }
  .sorteo-button-submit > button:hover {
    background-color: #ff1e56e8;
    transition: ease-in-out 1s;
  }
  @media screen and (min-width: 640px) {
    .sorteo-input,
    .sorteo-button-submit {
      width: 50%;
    }
  }
  @media screen and (min-width: 768px) {
    .sorteo-container {
      margin: 10rem 0rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .sorteo-container {
      padding: 10rem 0rem;
    }
    .sorteo-body {
      margin-top: 2.5rem;
    }
    .sorteo-input,
    .sorteo-button-submit {
      width: 30%;
    }
  }
  
  