@import "../modules/header.css";
@import "../modules/info-course.css";
@import "../modules/tabs.css";


/* Sorteo */

.sorteo-container {
    width: 100%;
    height: max-content;
    padding: 2rem 0rem;
    background-color: rgba(47, 47, 47, 0.755);
    background-image: url(../../images/jezael-melgoza-layMbSJ3YOE-unsplash.jpg);
    background-blend-mode: overlay;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}
.sorteo-content {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 1.5rem;
}
.sorteo-title , .sorteo-description {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}
.sorteo-title > h3 {
    font-size: var(--font_title);
}
.sorteo-form {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.sorteo-input, .sorteo-button-submit{
    width: 100%; 
}
.sorteo-input {
    height: 50px;
}
.sorteo-button-submit {
    height: 40px;
}

.sorteo-input > input , .sorteo-button-submit > button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.sorteo-input > input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.223);
    color: #fff;
    font-weight: bold;
}

.sorteo-button-submit > button {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background-color: #FF1E56;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.sorteo-button-submit > button:hover{
    background-color: #ff1e56e8;
    transition: ease-in-out 1s;
}

@media screen and (min-width: 640px) {
    .sorteo-input, .sorteo-button-submit{
        width: 50%; 
    }
}
@media screen and (min-width: 768px) {
    .sorteo-container {
        margin: 10rem 0rem;
    }
}

@media screen and (min-width: 1280px) {
    .sorteo-container {
        padding: 10rem 0rem;
    }
    .sorteo-body {
        margin-top: 2.5rem;
    }
    .sorteo-input, .sorteo-button-submit{
        width: 30%;
    }
}